.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 24px 48px;
}

.navbar__logo {
    font-family: var(--serif);
    font-size: 18px;
    color: var(--ink);
    text-decoration: none;
}

.navbar__links {
    display: flex;
    gap: 36px;
    list-style: none;
}

.navbar__links a {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--mid);
    letter-spacing: 0.12em;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar__links a:hover {
    color: var(--ink);
}